// container backgriund
$container-background: #F2F5FF;
$button-background--active: #6B7AFF;
$button-background-1: rgba(125, 149, 252, 0.08);

// Font colors
$color-1: #616E9D;
$color-2: #FFF;
$color-3: #6B7AFF;
$color-4: #000;
$color-5: #22222B;
$color-6: #FF61E6;
$color-7: rgba(107, 122, 255, 1);

// Borders
$border-color: #E0E7FF;


// RESPOSIVE
$mobile-small-max-width: 320px;
$mobile-medium-min-width: 576px;
$tablet-min-width: 768px;
$laptop-min-width: 1024px;
$desktop-min-width: 1248px;
$desktop-large-min-width: 1366px;
$desktop-x-large-min-width: 1440px;
$desktop-xx-large-min-width: 1600px;
$desktop-extra-large-min-width: 1921px;
